a.cke_dialog_ui_button_ok, a.cke_dialog_ui_button {
    box-shadow: 1px 1px 8px 0 #796b737a!important;
    height: 38px!important;
    border-radius: 19px!important;
    background-color: #fff!important;
    line-height: 24px!important;
    border: none!important;
    padding: 7px!important;
    margin: 8px!important;
    color: #000!important;
}

.cke_dialog_title {
    font-size: 18px!important;
}

a.cke_dialog_ui_button_ok span, a.cke_dialog_ui_button span {
    font-size: 16px!important;
    font-weight: normal!important;
}

a.cke_dialog_ui_button_ok:hover, a.cke_dialog_ui_button:hover {
    color: white!important;
    background: #754195!important;
}

.cke_dialog .cke_resizer {
    margin-top: 48px!important;
}

#cke_47{
    display: none;
}
