p,h1,h2,h3,h4,h5,h6,span,th,td,label,input,button,div{
    font-family: 'Nunito', sans-serif;
}

body{
    background: rgb(139 153 201 / 12%);
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.hover-purple-text{
    transition: 1s;
    cursor: default;
}

.hover-purple-text:hover{
    color: #754195!important;
}

.list-header, .resource-header{
    margin: 10px 0;
    background: white;
    box-shadow: 1px 1px 8px 0 #796b737a;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    padding: 10px 30px;
}

.list-header h2, .resource-header h2{
    font-size: 26px!important;
}

.btn{
    box-shadow: 1px 1px 8px 0 #796b737a;
    height: 38px;
    border-radius: 19px;
    background-color: #fff;
}

.btn.btn-circle{
    width: 38px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.editable-row .form-check-input{
    margin-top: 10px;
}

.editable-list-btn{
    display: none;
}

.edited .editable-list-btn{
    display: inline-block!important;
}

.edited{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgb(117 65 149 / 32%) 50%, rgba(255,255,255,0) 100%);
}

.edited td{
    background: none;
}

.btn:hover{
    color: white;
    background: #754195;
}

.table td,.table th{
    line-height: 40px;
}

.form-check-input:checked{
    background-color: #754195;
    border-color: #754195;
}

.form-control {
    border-radius: 19px;
}

.form-control:focus {
    border-color: #c086fe;
    box-shadow: 0 0 0 0.25rem rgba(109, 13, 253, 0.25);
}

.form-check-input{
    cursor: pointer;
}

select{
    cursor: pointer;
}

.nav-link{
    border-radius: 23px!important;
    display: flex;
    align-items: flex-start;
    line-height: 30px;
}

.nav-link i{
    font-size: 20px;
}

.nav-link.active, .nav-link:hover{
    background-color: #754195!important;
}

.sortable{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 15px;
    transition: 0.3s;
}

.sortable:hover{
    background-color: #9134ca2b;
}

.sortable .asc, .sortable .desc{
    display: none;
}

.sortable.asc .asc, .sortable.desc .desc{
    display: inline-block;
}

.search-input{
    max-width: 500px;
}

.page-link{
    height: 38px;
    width: 38px;
    border-radius: 19px!important;
    text-align: center;
    margin: 0 10px;
    color: #754195;
    box-shadow: 1px 1px 8px 0 #796b737a;
}

.active .page-link{
    background-color: #754195!important;
    border-color: #754195!important;
}

:not(.active):not(.disabled) .page-link:hover{
    background-color: #9134ca2b;
    color: #754195;
}

.page-link:focus {
    border-color: #c086fe;
    box-shadow: 0 0 0 0.25rem rgba(109, 13, 253, 0.25);
}

.filter-label{
    line-height: 38px;
    font-weight: bold;
}

.adminix-filter{
    box-shadow: 1px 1px 8px 0 #796b737a;
}

.admin-list-avatar{
    max-height: 50px;
    max-width: 50px;
}

.form-check-input:focus{
    border-color: #c086fe;
    box-shadow: 0 0 0 0.25rem rgba(109, 13, 253, 0.25);
}

.form-switch .form-check-input:focus:not(:checked){
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23c086fe'/%3e%3c/svg%3e");
}

.adminix-counter{
    margin: 10px 0;
    background: white;
    box-shadow: 1px 1px 8px 0 #796b737a;
    border-radius: 30px;
    padding: 10px 20px 0;
    font-size: 22px;
    position: relative;
}

.adminix-counter i{
    position: absolute;
    right: 35px;
    bottom: 14px;
    font-size: 34px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.adminix-counter .adminix-counter-value {
    font-weight: bold;
    font-size: 50px;
    margin: 0 5px;
    line-height: 75px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.adminix-counter:hover i {
    font-size: 50px;
}

.adminix-counter:hover .adminix-counter-value {
    font-size: 60px;
}

.adminix-clock{
    margin: 10px 0;
    background: white;
    box-shadow: 1px 1px 8px 0 #796b737a;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 22px;
    position: relative;
    display: flex;
}

.adminix-clock .adminix-clock-time{
    font-size: 90px;
    display: inline-block;
    width: 48%;
    text-align: right;
    margin: auto;
}

.adminix-clock .adminix-clock-date{
    display: inline-block;
    width: 33%;
    padding: 9px 0;
}
.adminix-clock .adminix-clock-date .adminix-clock-day{
    font-size: 33px;
}

@media (max-width: 1200px) {
    .adminix-clock{
        flex-direction: column;
    }
    .adminix-clock .adminix-clock-time{
        font-size: 80px;
        text-align: center;
        width: 100%;
    }
    .adminix-clock .adminix-clock-date {
        width: 100%;
        padding-top: 0;
        text-align: center;
    }
    .adminix-clock .adminix-clock-date .adminix-clock-day,
    .adminix-clock .adminix-clock-date .adminix-clock-year,
    .adminix-clock .adminix-clock-date .adminix-clock-weekday{
        display: inline-block;
        font-size: inherit;
    }

}

.chart-line, .chart-bar{
    margin: 10px 0;
    background: white;
    box-shadow: 1px 1px 8px 0 #796b737a;
    border-radius: 30px;
    padding: 10px 20px 45px;
    height: 340px;
}

.chart-line h2, .chart-bar h2{
    margin: 0 25px;
    font-size: 28px;
}

@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1520px;
    }

    .chart-line, .chart-bar{
        height: 440px;
    }
}

.table {
    --bs-table-bg: transparent;
}

.theme-switcher:not(:hover){
    color: #ffffff52!important;
}

.auth-page:not(.dark-mode) .theme-switcher:not(:hover){
    color: rgba(0, 0, 0, 0.45) !important;
}

.theme-switcher .hover-text{
    opacity: 0;
    transition: 0.2s;
}

.theme-switcher:hover .hover-text{
    opacity: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.adminix-sidebar {
    width: 280px;
    z-index: 1;
}

@media (max-width: 1000px) {
    .sidebar-title {
        display: none;
    }

    .adminix-sidebar .nav-item:not(:hover) {
        width: 46px;
    }

    .adminix-sidebar .nav-item .nav-link:not(:hover) {
        padding: 8px 13px!important;
        overflow: hidden;
    }

    .adminix-sidebar .nav-item .nav-link:hover {
        padding: 8px 13px!important;
    }

    .logout-btn {
        display: flex;
    }

    .adminix-sidebar {
        width: 78px;
    }
}

.adminix-sidebar .adminix-menu-item i{
    transition: 0.3s;
}

@media (min-width: 1001px) {
    .adminix-sidebar .adminix-menu-item:hover i {
        margin-left: 0.3rem;
        margin-right: 1.2rem !important;
    }
}

.adminix-badge {
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    border-radius: 13px;
    padding: 0 12px;
    border: 1px solid;
}

.green-badge {
    background: #00800036;
    border-color: #41bb4180;
}

.red-badge {
    background: rgba(128, 0, 0, 0.21);
    border-color: #e9505069;
}

.links-list {
    max-height: calc(100% - 210px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.links-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.links-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.links-list .adminix-menu-item {
    display: block;
    width: 100%;
}

.date-filter {
    width: 140px;
    height: 38px;
}

.datetime-filter {
    width: 185px;
    height: 38px;
}

.nowrap {
    white-space: nowrap;
}
