.dark-mode{
    background: #282c3b!important;
}

.dark-mode .adminix-counter,
.dark-mode .adminix-clock,
.dark-mode .chart-line,
.dark-mode .chart-bar,
.dark-mode .resource-header,
.dark-mode .btn,
.dark-mode .page-item:not(.active) .page-link,
.dark-mode .list-header{
    background: #ffffff17;
    color: #d6d5df;
    box-shadow: none!important;
}

.dark-mode .form-control{
    color-scheme: dark;
    background: #ffffff17;
    color: #d6d5df;
    border-color: transparent;
}

.dark-mode .form-control:not(:focus){
    box-shadow: none;
}

.dark-mode .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(171 118 251 / 40%);
}

.dark-mode .form-check .form-check-input{
    --bs-form-check-bg: #f0f8ff45;
    border: transparent;
}

.dark-mode .sortable:hover,
.dark-mode .page-item:not(.active,.disabled) .page-link:hover{
    background: rgb(117 65 149 / 47%);
}

.dark-mode .btn:hover{
    background: #754195;
}

.dark-mode .form-control option{
    background: #363a54!important;
    color: #d6d5df!important;
}

.dark-mode .filter-label, .dark-mode  label{
    color: #d6d5df!important;
}

.dark-mode .table{
    --bs-table-color: #d6d5df!important;
    --bs-table-border-color: #dee2e642!important;
}

.dark-mode input::placeholder {
    color: #a7a7af;
    opacity: 1; /* Firefox */
}

.dark-mode input::-ms-input-placeholder { /* Edge 12 -18 */
    color: #a7a7af;
}

.dark-mode .hover-purple-text {
    color: #a7a7af;
}
